@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&display=swap');


body{
    background-image: url(AltimitMineOs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* preenche a altura mesmo em resolução não widescreen*/
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}
body, html { /*conserta o problema do <!DOCTYPE html> quebrar o css*/
    height: 100%;
    width: 100%;
    margin: 0;
}
button{
    appearance: none;
    background: none;
    border: none;
    font-family: 'Archivo','Nachlieli CLM', arial;
    font-size: 4vh;
    color: white;
    text-shadow: 0 0 2px #000;
    border: 5px solid #99999a;
}
#backgroundReset{
    margin-top: 10%;
    position: absolute;
    left: 0%;
    border-right: none;
    width: 50%;
}
#backgroundConfirm{
    width: 50%;
    left: 50%;
    margin-top: 10%;
    position: absolute;
    border-left: none;
}
/*Icons*/
#carousel{
    width: 69.1%;
    height: 63.7%;
    position: absolute;
    top: 35%;
    transform: perspective(162vh) rotateX(-25deg);
    transform-style: preserve-3d;
    z-index: -2;
}
#selector{
    background-image: url(../icons/selector.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 28vh;
    height: 28vh;
    left: 23%;
    top: 60%;
    transform-style: preserve-3d;
}
#options{
    font-family: 'Archivo','Nachlieli CLM', arial;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.optionsBox{
    position: absolute;
    display: inline-block;
    background-color: #efefef;
    width: 40%;
    height: 0%;
    padding-bottom: 40%;
    margin-left: 30%;
    border: 0.5vh solid black;
}
#optionsBox1{
    top: 30%;
}
.optionsBox:hover{
    border-color: #16699a;
}
#optionsBox2{
    top: 46%;
}
#optionsBox3{
    top: 30%;
}
#optionsBox4{
    top: 46%;
}
#optionsText{
    padding-top: 50%;
    text-align: center;
    font-size: 120%;
}
.optionsTab{
    position: absolute;
    width: 22vh;
    height: 100%;
    display: inline-block;
    background-color: #7e858c;
}
#backgroundForm{
    padding: 10%;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Archivo','Nachlieli CLM', arial;
    font-size: 4vh;
    color: white;
    text-shadow: 0 0 2px #000;
    text-align: center;
    background-color: #525d66;
    border: 5px solid #99999a;
}
#options1{
    left: 24.5%;
}
#options2{
    left: 24.5%;
    transition: 0.5s;
}
#options3{
    left: 24.5%;
    transition: 0.5s;
}
#selectorSpace{
    position: absolute;
    width: 70%;
    height: 65%;
    display: inline-block;
    overflow: hidden;
    top: 20%;
    left: 15%;
    transform:translateZ(-1px);
}
#selectorIcon{
    background-image: url(../icons/theworld2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 85%;
    height: 85%;
    left: 5%;
    top: 5%;
    transform:translateZ(-1px);
    transition: opacity 1s;
}
#selectorBack{
    background-image: url(../icons/selectorBack.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 95%;
    height: 95%;
    transform:translateZ(-5px);
}
#carousel>div{
    position: absolute;
    right: 25%;
    width: 20%;
    height: 20%;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.icons{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.back{
    background-image: url(../icons/icon-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube{
    background-image: url(../icons/cube.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    scale: 0.5;
    left: 8%;
    position: absolute;
}
.theworld{
    background-image: url(../icons/theworld2.png);
}
.news{
    background-image: url(../icons/news2.png);
}
.forum{
    background-image: url(../icons/news2.png);
}
.mail{
    background-image: url(../icons/mail2.png);
}
.accessories{
    background-image: url(../icons/accessories2.png);
}
.crimsomvs{
    background-image: url(../icons/crimsomvs2.png);
}
.movie{
    background-image: url(../icons/movie2.png);
}
.data{
    background-image: url(../icons/data2.png);
}
.selectorAnima{
    animation: selectorAnima 4s infinite;
    animation-timing-function: linear;
}
@keyframes selectorAnima {
    0%{
        transform: translateX(-7%) translateY(-15%);
    }
    50%{
        transform: translateX(7%) translateY(15%);
    }
    100%{
        transform: translateX(-7%) translateY(-15%);
    }
}
#cubeA{
    animation: animaCubeA 4s infinite;
    animation-timing-function: linear;
}
#cubeB{
    animation: animaCubeB 4s infinite;
    animation-timing-function: linear;
}
#cubeC{
    animation: animaCubeC 4s infinite;
    animation-timing-function: linear;
}
#cubeD{
    animation: animaCubeD 4s infinite;
    animation-timing-function: linear;
}
#backA{
    animation: animaBackA 4s infinite;
    animation-timing-function: linear;
}
#backB{
    animation: animaBackB 4s infinite;
    animation-timing-function: linear;
}
#backC{
    animation: animaBackC 4s infinite;
    animation-timing-function: linear;
}
#backD{
    animation: animaBackD 4s infinite;
    animation-timing-function: linear;
}
@keyframes animaBackA{
    0%{
        transform: translateX(-10%) translateY(-10%);
    }
    50%{
        transform: translateX(10%) translateY(10%);
    }
    100%{
        transform: translateX(-10%) translateY(-10%);
    }
}
@keyframes animaBackB{
    0%{
        transform: translateX(10%) translateY(10%);
    }
    50%{
        transform: translateX(-10%) translateY(-10%);
    }
    100%{
        transform: translateX(10%) translateY(10%);
    }
}
@keyframes animaBackD{
    0%{
        transform: translateX(-5%) translateY(-5%);
    }
    50%{
        transform: translateX(5%) translateY(5%);
    }
    100%{
        transform: translateX(-5%) translateY(-5%);
    }
}
@keyframes animaBackC{
    0%{
        transform: translateX(5%) translateY(5%);
    }
    50%{
        transform: translateX(-5%) translateY(-5%);
    }
    100%{
        transform: translateX(5%) translateY(5%);
    }
}
@keyframes animaCubeA {
    0%{
        transform: translateX(-80%) translateY(-80%);
    }
    50%{
        transform: translateX(-20%) translateY(20%);
    }
    100%{
        transform: translateX(-80%) translateY(-80%);
    }
}

@keyframes animaCubeB {
    0%{
        transform: translateX(-20%) translateY(20%);
    }
    50%{
        transform: translateX(-80%) translateY(-80%);
    }
    100%{
        transform: translateX(-20%) translateY(20%);
    }
}
@keyframes animaCubeC {
    0%{
        transform: translateX(-35%) translateY(-15%);
    }
    50%{
        transform: translateX(-55%) translateY(7%);
    }
    100%{
        transform: translateX(-35%) translateY(-15%);
    }
}
@keyframes animaCubeD {
    0%{
        transform: translateX(-55%) translateY(7%);
    }
    50%{
        transform: translateX(-35%) translateY(-15%);
    }
    100%{
        transform: translateX(-55%) translateY(7%);
    }
}

/*Icons*/

#subtitle{
    position: absolute;
    bottom: 4%;
    background-color: #c0c1c3;
    border-top: solid #d1d1d3;
    border-left: solid #d1d1d3;
    border-bottom: solid #797979;
    border-right: solid #797979;
    border-width: 0.8vh;
    width: 98%;
    height: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    vertical-align: middle;
    display: flex; /*Alinha todos os itens no meio da div*/
    align-items: center; /*Alinha todos os itens no meio da div*/
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
}

#arrow{
    height: 35%;
    padding: 1%;
}

#box{
    font-family: 'Liberation Sans';
    font-size: 20px;
    color: white;
    height: 25.5%;
    width: 45%;
    background-color: rgba(65,147,169,0.6);
    position: absolute;
    left: 39.5%;
    top: 35%;
    font-family: 'Archivo','Nachlieli CLM', arial;
    transition: opacity 0.2s;
}
#iconBox{
    display: inline-block;
    background-image: url(../icons/theworld.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 17%;
    position: absolute;
    right: 1%;
    top: 35%
}
hr{
    color: none;
    border: none;
    background-color: white;
    height: 1.6%;
    z-index: 2;
    position: absolute;
    float: right;
    width: 60%;
    right: 0%;
}
#boxLine1{
    top: 11.5%;
}
#boxLine2{
    top: 14.9%;
}
#boxLine3{
    top: 24.8%;
}
#boxLine4{
    position: absolute;
    width: 100%;
    bottom: 8%;
}
#subtitleBox{
    position: absolute;
    bottom: 2.2%;
    left: 2.7%;
    font-size: 1.2vw;
    font-weight: 300;
}
#titleBox{
    z-index: 3;
    position: relative;
    top: 11%;
    font-size: 2.8vw;
    left: 4%;
    font-weight: 500;
    display: inline-block;
}
#mineBox{
    position: absolute;
    right: 2%;
    bottom: 16.5%;
    font-size: 1.8vw;
    font-weight: 500;
}
#copyrightBox{
    position: absolute;
    left: 52%;
    bottom: 19.5%;
    font-size: 0.8vw;
    font-weight: 300;
}
#lifeBox{
    position: absolute;
    font-size: 0.8vw;
    font-weight: 300;
    left: 5.2%;
    top:37.8%;
}