@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&display=swap');


body{
    background-image: url(AltimitMineOs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* preenche a altura mesmo em resolução não widescreen*/
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}
body, html { /*conserta o problema do <!DOCTYPE html> quebrar o css*/
    height: 100%;
    width: 100%;
}
/*Icones*/
#icones{
    width: 69.1%;
    height: 63.7%;
    position: absolute;
    top: 27.2%;
    transform-style: preserve-3d;
}
#icones>div{
    position: absolute;
    right: 25%;
    width: 15%;
    height: 15%;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.imagens{
    background-image: url(../icons/icon-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

#persp{
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-25deg);
    width: 100%;
    height: 100%;
}
/*Icones*/

#legenda{
    position: absolute;
    bottom: 4%;
    background-color: #c0c1c3;
    border-top: solid #d1d1d3;
    border-left: solid #d1d1d3;
    border-bottom: solid #797979;
    border-right: solid #797979;
    border-width: 0.8vh;
    width: 98%;
    height: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    vertical-align: middle;
    display: flex; /*Alinha todos os itens no meio da div*/
    align-items: center; /*Alinha todos os itens no meio da div*/
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
}

#seta{
    height: 35%;
    padding: 1%;
}

#caixa{
    font-family: 'Liberation Sans';
    font-size: 20px;
    color: white;
    height: 25.5%;
    width: 45%;
    background-color: rgba(65,147,169,0.6);
    position: absolute;
    left: 39.5%;
    top: 35%;
    font-family: 'Archivo','Nachlieli CLM', arial;
    
}
hr{
    color: none;
    border: none;
    background-color: white;
    height: 1.6%;
    z-index: 2;
    position: absolute;
    float: right;
    width: 60%;
    right: 0%;
}
#linha1{
    top: 11.5%;
}
#linha2{
    top: 14.9%;
}
#linha3{
    top: 24.8%;
}
#linha4{
    position: absolute;
    width: 100%;
    bottom: 11%;
}
#legendaCaixa{
    position: absolute;
    bottom: 2.2%;
    left: 2.7%;
    font-size: 1.4vw;
    font-weight: 300;
}
#tituloCaixa{
    z-index: 3;
    position: relative;
    top: 11%;
    font-size: 2.8vw;
    left: 4%;
    font-weight: 500;
    display:inline-block;
}
#mineCaixa{
    position: absolute;
    right: 2%;
    bottom: 19.5%;
    font-size: 2.2vw;
    font-weight: 500;
}
#copyrightCaixa{
    position: absolute;
    left: 44%;
    bottom: 21.5%;
    font-size: 0.9vw;
    font-weight: 300;
}
#lifeCaixa{
    position: absolute;
    font-size: 1vw;
    font-weight: 300;
    left: 5.2%;
    top:37.8%;
}